[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-cors = "*"
python-jose = "*"

[requires]
python_version = "3.6"
